<h1>What's Your Timezone?</h1>

<p>
    Welcome! It seems you have made it to our page!
    
<ul>
    <li>Have you a friend, acquaintance, or family members living in a different timezone?</li>
    <li>Are you always missing opportunies because of the different timezones?</li>
    <li>Are you fascinated with the different times the people of the world is going through right now? </li>
    <li>Or are you curious of what the people on the sky on other side of the world is right now?</li>
</ul>

    If you had answered yes to any of the above, then you have come to the right place.
    We display many timezones in the series of clocks and flags; just select your preferred country by name or flag to view the timezone.
    
    Want to save your preferred timezone? Sign up for a free account now and select your timezones! 
    It's that easy!
</p>