<h1>List of Registered Users:</h1>

<% @user.each do |user| %>
<ul>
    <li><%= user.name %></li>
</ul>
<% end %>
<p> 

<% if logged_in? %>
    Yay! You're on this list! :D
<% else %>
    Don't see yourself on the list? <%= link_to "Register", new_user_path %> today!
<% end %>
</p>